/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000000ec),
    to(#00000065)
  );
  background: -o-linear-gradient(#000000ec, #00000065);
  background: linear-gradient(#000000ec, #00000065);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  position: absolute;
  z-index: 1;
  bottom: 100px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  font-size: 230%;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  max-width: 700px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 95%;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.serviceBtn,
.contactBtn {
  padding: 10px 20px;
  background: #171a20cc;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 50px;
  font-size: 65%;
  /* color: #fff; */
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
  width: 20px;
  min-width: 200px;
  text-align: center;
  font-weight: 500;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: 0px 3px 12px #00000042;
  box-shadow: 0px 3px 12px #00000042;
  text-decoration: none;
}

.serviceBtn:hover {
  /* background: #ef3539; */
  background: #171a20;
}

.contactBtn:hover {
  background: #fff;
}

.contactBtn {
  background: #f4f4f4a6;
  color: #393c41;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 190%;
  }
  .description {
    font-size: 90%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 150%;
  }
  .description {
    font-size: 80%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 130%;
  }
  .description {
    font-size: 75%;
  }
  .buttonContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contactBtn,
  .serviceBtn {
    width: 100%;
  }

  .serviceBtn {
    margin-bottom: 15px;
  }
}
