/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.wrapper {
  padding: 100px 16px;
  color: #000;
  background: #f0f0f0;
}

.header {
  font-size: 180%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.wrapperFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer {
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0px 5px 20px #c4c4c4;
  box-shadow: 0px 5px 20px #c4c4c4;
  padding: 20px;
  width: 100%;
  background: #fff;
  -webkit-filter: hue-rotate(260deg);
  filter: hue-rotate(260deg);
}

.step {
  font-size: 75%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title {
  font-size: 100%;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
}

.description {
  font-size: 75%;
  font-weight: 500;
  line-height: 1.6;
}

.readyContainerWrapper {
  padding: 100px 16px;
  background: -o-linear-gradient(45deg, cyan, pink);
  background: linear-gradient(45deg, cyan, pink);
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 150%;
  }
  .description {
    font-size: 70%;
  }
}

@media screen and (max-width: 700px) {
  .wrapperFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flexContainer {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 130%;
  }
  .title {
    font-size: 90%;
  }
  .description {
    font-size: 70%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 120%;
  }
  .title {
    font-size: 85%;
  }
  .description {
    font-size: 65%;
  }
}
