.wrapper {
  background: #e6e6e6;
  padding: 75px 16px;
  color: #000;
}

.header {
  font-size: 180%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.questionContainer {
  background: #fff;
  width: 100%;
  font-size: 90%;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 20px #d1d1d1;
  overflow: hidden;
  transition: 300ms;
  margin-bottom: 15px;
}

.question {
  line-height: 60px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.answer {
  font-size: 80%;
  padding: 16px;
  padding-top: 0px;
  color: #7a7a7a;
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 150%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 130%;
  }
  .question {
    font-size: 90%;
  }
  .answer {
    font-size: 75%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 120%;
  }
  .question {
    font-size: 80%;
  }
  .answer {
    font-size: 70%;
  }
}
