/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.wrapper {
  padding: 75px 16px;
  background: #000;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
}

.sectionHeader {
  font-size: 85%;
  font-weight: 500;
  margin-bottom: 25px;
}

.about,
.support,
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link {
  font-size: 70%;
  color: #b6b6b6;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: #fff;
}

.copyright {
  font-size: 65%;
  color: var(--gray);
  margin-top: 20px;
  color: #b6b6b6;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link {
    text-align: center;
  }
  .sectionHeader {
    text-align: center;
    margin-top: 50px;
  }
  .copyright {
    text-align: center;
    margin-top: 50px;
  }
}
