/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.wrapper {
  padding: 75px 16px;
  background: -o-linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
  background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
}

.container {
  max-width: 1000px;
  margin: auto;
}

.title {
  font-size: 200%;
  font-weight: 700;
  text-align: center;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.getEstimateBtn {
  padding: 6px 40px;
  color: #000;
  border: 2px solid #fff;
  text-decoration: none;
  font-size: 80%;
  font-weight: 600;
  background: #fff;
  border-radius: 500px;
  -webkit-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms;
}

.getEstimateBtn:hover {
  background: transparent;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 170%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 150%;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 130%;
  }
}
