.wrapper {
  padding: 24px 16px;
  /* background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6); */
  /* border-bottom: 1px solid #dddddd; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 3px;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.link {
  text-transform: uppercase;
  font-size: 65%;
  margin-right: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: 300ms;
}

.link:hover {
  color: #8a8a8a;
}

.contactBtn {
  padding: 6px 24px;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 75%;
  font-weight: 500;
  transition: background 300ms;
  cursor: pointer;
  text-decoration: none;
}

.contactBtn:hover {
  background: #fff;
  color: #000;
}
